<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyCoffeeQuins">

        <!-- CUSTOMER -->
        <activity android:name=".customer.ProfileActivity" android:exported="false" />
        <activity android:name=".customer.CustomerOrderActivity" android:exported="false" />
        <activity android:name=".customer.RegisterCustomerActivity" />
        <activity android:name=".customer.CustomerDashboardActivity" />
        <activity android:name=".customer.MenuListActivity" />
        <activity android:name=".customer.MenuDetailActivity" />
        <activity android:name=".customer.CartActivity" />
        <activity android:name=".customer.CheckoutActivity" />
        <activity android:name=".customer.OrderSuccessActivity" />

        <activity
            android:name=".customer.LoginCustomerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
